@import '../../../scss/_variable.scss';
.selectDropDown {
    border-radius: 8px;
    font-size: 12px;
    color: $grey-color-light-1;
    border: 0px solid;
}

.input-text.error {
    border-radius: 8px;
}
.selectDropDown .css-1okebmr-indicatorSeparator {
    display: none;
}
.selectDropDown .css-1s2u09g-control {
    border-radius: 8px;
    font-size: 12px;
    color: $grey-color-light-1;
    min-height: 32px !important;
    border: 1px solid $textfiled-bg-color;
}
.selectDropDown .css-1pahdxg-control {
    border: 1px solid $secondary-blue;  
    box-shadow: 0px 0px 8px #0086CD52; 
    min-height: 32px !important;
    border-radius: 8px;
}
.selectDropDown .css-1hb7zxy-IndicatorsContainer, .selectDropDown .css-1wy0on6{
    height: 30px;
}

.selectDropDown .css-2613qy-menu {
    margin-top: 0px;
}

.selectDropDown .css-tlfecz-indicatorContainer {
    height: 34px;
    padding: 6px;
}

.err-border, .error {
    .css-1s2u09g-control, .css-1s2u09g-control:hover {
        border: 1px solid $primary-red;
    }
}

.bdoSelect .err-border, .bdoSelect .error  {
    border: 0px;
}
.bdoSelect .iconDrop {
    height: 24px;
    width:  24px;
}

.selectDropDown .css-1gtu0rj-indicatorContainer {
    padding: 6px;
    height: 34px;
}