$primary-blue:#004EA8;
$primary-white:#ffffff;
$primary-yellow:#FDB913;
$primary-grey:#656565;
$primary-green:#00A995;
$primary-red:#FF3700;


$secondary-blue:#0072D8;
$secondary-green:#009D12;
$secondary-orange:#FF9854;
$secondary-white:#F6F6F6;

$primary-red-dark:#C92B00;
$primary-red-light: #FFE7E0;

$grey-color-light-1:#919191;
$grey-color-light-2:#C2C2C1;
$grey-color-dark-1:#656565;
$grey-color-dark-2:#2E2E2E;
$grey-color-dark-3:#4B4B4B;


$background-color:#E5F5FF;
$background-color-2:#E4E4E4;
$background-color-3:#EAEAEA;
$textfiled-bg-color:#99C1E7;

$button-primary-blue: #0272CE;
$button-hover-blue: #004EA8;
$status-bgColor: #E5FFFC;
$status-forApproval: #F38033;
$status-forApproval-bgColor: #FFF2E9;
$status-blocked: #F38033;
$status-blocked-bgColor: #FFF2E9;
$status-channel-bgcolor: #FFF5F2;

$modal-border-color: #D1D1D1;
$success: #00A99533;
$warning:#FDB91333;
$critical: #FF370033;
$shadow-color: #00000014;

$blocked-color: #FFD4C8;



$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;